/* Main settings  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
}

p {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.mainWrapper {
  background-color: rgb(20, 20, 20);
  /* height: 200vh; */
  width: 100%;
  /* padding: 2vh; */
  /* font-family: "Bebas Neue", "sans-serif"; */
  font-family: "Open Sans", sans-serif;
  /* overflow: hidden; */
}

/* Header styles  */

header {
  background-image: url("./img/peakyBlinders.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 35vh;
  left: 0;
}

.headerInterface {
  display: flex;
  position: relative;
  top: 60%;
  margin-left: 2vh;
}

.fa-play,
.fa-circle-info {
  margin-right: 0.5rem;
}
.headerInterface .play,
.info {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: none;
}

.headerInterface .play {
  background-color: #fff;
}

.headerInterface .info {
  background-color: rgba(134, 127, 127, 0.75);
  margin-left: 2vw;
  color: white;
}

/* NAVIGATION STYLES  */

.topNavigation {
  position: fixed;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  font-family: "Bebas Neue", cursive;
  height: 4rem;
  padding: 0 2vh;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  transition: 0.5s;
}

.topNavigation.active {
  /* position: fixed; */
  z-index: 10;
  background-color: rgb(0, 0, 0);
}
.logo {
  color: red;
  font-size: 1.8rem;
}

.browseMenu {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.leftSideNavi {
  display: flex;
}

.rightSideNavi {
  display: flex;
}

.fa-caret-down {
  font-size: 1.2rem;
  height: 2rem;
  line-height: 2rem;
  margin-left: 0.4rem;
}
.navSpacer {
  margin: 1rem;
}
.fa-bell {
  color: white;
  font-size: 1.2rem;
}

.userLogo {
  height: 2.4rem;
  width: 2.4rem;
  border: 1px solid white;
  text-align: center;
  line-height: 2.4rem;
  border-radius: 10%;
}

.fa-bell {
  line-height: 2.4rem;
  margin-right: 2rem;
}

.fa-user {
  color: rgb(26, 138, 212);
  font-size: 1.4rem;
  line-height: 2.4rem;
}

/* Browse Open Navigation  */

.browseActive {
  position: fixed;
  z-index: 20;
  top: 6rem;
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  border-top: 2px solid rgb(212, 211, 211);
  visibility: hidden;
}

.browseActive.displayed {
  visibility: visible;
}
.browseActive .fa-caret-down {
  color: white;
  transform: rotate(180deg);
  margin-top: -1.4rem;
  font-size: 1.6rem;
}

.browseActive .browseItem {
  width: 100%;
  padding: 1.4rem 0;
  list-style: none;
}

.browseActive .browseItem a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  display: block;
  text-align: center;
  color: rgb(179, 179, 179);
}

/* notification menu  */

.notificationActive {
  position: fixed;
  z-index: 20;
  top: 6rem;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.9);
  border-top: 2px solid rgb(212, 211, 211);
  /* visibility: hidden; */
}

.notificationActive .fa-caret-down {
  position: relative;
  left: 35vw;
  top: 0;
  color: white;
  transform: rotate(180deg);
  margin-top: -1.4rem;
  font-size: 1.6rem;
}

.notificationActive .newArrival {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  border-bottom: 1px solid rgb(212, 211, 211);
}

.notificationActive ul {
  width: 100%;
}

.notificationActive .newArrival .notificationText {
  padding-left: 2rem;
}
/* Body content styles  */

.bodyWrapper {
  padding: 2vh;
}

.bodyWrapper .swiper {
  padding: 0 4%;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  top: 0;
  bottom: 0;
  margin: 0;
  width: 4%;
  border-radius: 0.2rem;
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  font-size: 1rem;
  color: white;
}

.swiper .swiper-button-prev {
  left: -3px;
  /* margin-left: -5px; */
}

.swiper .swiper-button-next {
  right: -3px;
}

h2.sliderTitle {
  color: #fff;
  margin: 0.2rem auto;
  margin-left: 4vw;
}

.sliderImg {
  width: 100%;
  border-radius: 0.5rem;
}

/* Media Queries from the smallest size  */

/* @media screen and (min-width: 375px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
  header {
    height: 35vh;
  }
  .headerInterface {
    margin-left: 2vw;
  }
  .headerInterface .play,
  .info {
    padding: 0.5rem 1.5rem;
  }
  .headerInterface .info {
    margin-left: 2vw;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 24px;
  }
}

@media screen and (min-width: 1280px) {
  header {
    height: 80vh;
  }
} */

/* media queries for landscape  */

@media (min-height: 280px) and (orientation: landscape) {
  header {
    height: 100vh;
  }
}

@media (min-height: 320px) and (orientation: landscape) {
  header {
    height: 80vh;
  }
  .fa-play,
  .fa-circle-info {
    margin-right: 0.5rem;
  }

  .headerInterface {
    top: 70%;
    margin-left: 4vw;
  }
  .headerInterface .play,
  .info {
    /* display: block; */
    padding: 0.4rem 1rem;
    /* font-size: 1.4rem; */
    border: none;
  }
  .topNavigation {
    padding: 0 4vw;
  }

  /* Navigation Styles  */
  .logo {
    font-size: 2rem;
  }
  .fa-bell {
    font-size: 1.4rem;
  }
  .userLogo {
    height: 2rem;
    width: 2rem;
  }
  .fa-user {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .browseMenu {
    font-size: 1rem;
  }
  /* Browse Open Navigation  */
  .browseActive {
    width: 45vw;
  }
}

@media (min-height: 360px) and (orientation: landscape) {
  header {
    height: 80vh;
  }
  .headerInterface .play,
  .info {
    /* display: block; */
    padding: 0.6rem 1.4rem;
    font-size: 1.2rem;
    border: none;
  }
}

@media (min-height: 390px) and (orientation: landscape) {
  header {
    height: 95vh;
  }
}
/* @media (min-width: 1024px) and (min-height: 600px) and (orientation: landscape) {
  html {
    font-size: 1rem;
  }
  header {
    height: 60vh;
  }
} */

@media screen and (min-width: 375px) {
  html {
    font-size: 14px;
  }
}

/* @media screen and (min-width: 390px) {
  html {
    font-size: 14px;
  }
} */

@media screen and (min-width: 768px) and (min-height: 768px) {
  html {
    font-size: 16px;
  }
  header {
    height: 35vh;
  }
  .headerInterface {
    margin-left: 2vw;
  }
  .headerInterface .play,
  .info {
    padding: 0.5rem 1.5rem;
  }
  .headerInterface .info {
    margin-left: 2vw;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 20px;
  }
  header {
    height: 65vh;
  }
}

@media screen and (min-width: 1280px) {
  header {
    height: 80vh;
  }
}
